body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carre1 {
    background-color: green;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carre2 {
    background-color: rgb(0, 163, 0);
    height: 450px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carre3 {
    background-color: rgb(1, 190, 1);
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carre4 {
    background-color: rgb(1, 216, 1);
    height: 350px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cercle {
    background-color: rgb(1, 65, 1);
    height: 100px;
    width: 100px;
    border-radius: 50%;
   
}

.milieu {
    background-color: white;
}